<div>
    <h2 class="mt-2">Sobre comics</h2>
    <hr>
    <div id="fondo">
        <h3>Comic</h3>
        <p>El termino comic es utilizado para designar a aquellar formas de relato gráfico que se arman en base a dibujos encuadrados en viñetas.</p>
        <h3>Origen</h3>
        <p>El origen de los comics se remonta a miles de años, desde que el ser humano tuvo la necesidad de dibujar para poder explicar una historia, aventura, acontecimiento o leyenda.</p>
        <h3>Fundadores</h3>
        <p>Se considera a Thomas Rowlandson el inventor del comic en el año 1809. Los viajes del Doctor Syntax, es considerado el primer comic o aventura seriada de la historia.</p>
        <h3>Sabias Que..?</h3>
        <ul>
            <li>El primer comic publicado en el mundo fue ''The Yellow Kid'' el 16 de febrero de 1896.</li>
            <li>Se considera que Mutt and Jeff, de Bud Fisher, cuya publicación se inicia el 15 de noviembre de 1907, es la primera tira comica de la historia del comic publicada a diario con un éxito relevante, que le permitió continuidad hasta 1982.</li>
        </ul>
        
    </div>
     <img class="
     mt-3 rounded-lg mb-3" src="../../assets/img/imagen_about.jfif" alt="" >
</div>
