*{
    font-size: 20px;
}
@media (min-width: 576px) {
    li{
        text-align: center;
    }
    #buscar{
        display: flex;
        text-align: center;
        justify-content: center;
    }
}
@media (min-width: 768px) {
    li{
        text-align: center;
    }
    #buscar{
        display: flex;
        text-align: center;
        justify-content: center;
    }
    
}