<div class="container text-center">
    <h2 class="mt-3">VIDEO RELACIONADO</h2>
    <hr >
    <div id="fondo" class="container rounded-lg mb-3">
        <iframe class="mt-4 mb-3" width="560" height="315" 
        [src]="video|domseguro:'https://www.youtube.com/embed/'"
       
        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>En este video Giovanni Pasco nos explica todo lo relacionado a los comics</p>
        <p>Velo y verifica si conocias todo lo que menciono!.</p>
             
    </div>
    
</div>