
<div class="container mt-0 m-0 rounded">
    <div class="row ">
        
        <div class="col">
            <h2 class="mt-2 " >Nuestra Tienda</h2>
            <p>Explora los diferentes articulos que tenemos para tí.Por el momento las compras se realizan de manera fisica, pero a continuacion te mostramos los productos disponibles. Si tienes alguna pregunta no dudes en contactarnos en nuestras redes sociales </p>
        </div>
        <div class="col text-center">
            <img src="../../assets/img/logo.png" alt="" width="350px" class="img-fluid mx-auto">
        </div>
        

    </div>
    <div class="row ">
        <h3 class="ml-3">Playeras</h3>
    </div>
    <div class="row">
        
        <div class="col text-center">
            <img src="../../assets/img/playera1.png" alt="" width="250px" >
            <h5><strong>Modelo:</strong> Batman</h5>
            <h5><strong>Tallas:</strong>s,m,g</h5>
            <h5><strong>Precio:</strong>$200</h5>
        </div>
        <div class="col text-center">
            <img src="../../assets/img/playera2.png" alt="" width="250px">
            <h5 class="mt-4"><strong>Modelo:</strong> Hulk</h5>
            <h5><strong>Tallas:</strong>m,g,xg</h5>
            <h5><strong>Precio:</strong>$250</h5>
        </div>
        <div class="col text-center">
            <img src="../../assets/img/playera3.png" alt="" width="250px">
            <h5 ><strong>Modelo:</strong>Marvel</h5>
            <h5><strong>Tallas:</strong>s,m,g,xg</h5>
            <h5><strong>Precio:</strong>$200</h5>
        </div>
    </div>
    <div class="row">
        <h3 class="ml-4">Comics</h3>
    </div>
    <div class="row ">
        <div class="col text-center">
            <img src="../../assets/img/comic1.png" alt="" width="240px" >
            <h5 class="mt-2"><strong>Coleccion:</strong> Marvel-97</h5>
            <h5><strong>Cantidad comics:</strong>3</h5>
            <h5><strong>Precio:</strong>$570</h5>
        </div>
        <div class="col text-center">
            <img src="../../assets/img/comic2.png" alt="" width="150px">
            <h5 class="mt-4"><strong>Coleccion:</strong> All Negro</h5>
            <h5><strong>Cantidad comics:</strong>4</h5>
            <h5><strong>Precio:</strong>$320</h5>
        </div>
        <div class="col text-center">
            <img src="../../assets/img/comic3.png" alt="" width="280px">
            <h5 ><strong>Coleccion:</strong>Super Ringo</h5>
            <h5><strong>Cantidad comics:</strong>1</h5>
            <h5><strong>Precio:</strong>$180</h5>
        </div>

    </div>
    <div class="row">
        <h3 class="ml-4">Funkos</h3>
    </div>
    <div class="row ">
        <div class="col text-center">
            <img src="../../assets/img/funko1.png" alt="" width="265px" >
            <h5 class="mt-2"><strong>Nombre:</strong> Wolverine</h5>
            
            <h5><strong>Precio:</strong>$570</h5>
        </div>
        <div class="col text-center">
            <img src="../../assets/img/funco3.png" alt="" width="250px">
            <h5 class="mt-4"><strong>Nombre:</strong> Iron Spider</h5>
            
            <h5><strong>Precio:</strong>$630</h5>
        </div>
        <div class="col text-center">
            <img src="../../assets/img/funco4.png" alt="" width="270px">
            <h5 ><strong>Nombre:</strong>Logan</h5>
           
            <h5><strong>Precio:</strong>$500</h5>
        </div>
    </div>
</div>
